h1{
    text-align: center;
}
#button{
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
    box-sizing: border-box;
    
}
#mainbox{
    display: flex;
    text-align: center;
    justify-content: center; /*horizontal */
   
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
    width: 500px;
    margin: auto;
}
